doctype html
html
  head
    meta(charset='UTF-8')
    title atom-kak-mode
    link(rel='stylesheet', href='https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css')
  body.sans-serif.near-black.bg-white
    .mw7.center
      .pb3.mb4
        h1.f1.mb1.i atom-kak-mode
        span 
          a(href='http://kakoune.org') Kakoune
          span  emulator for Atom.
    .bt.pv4
      .mw7.center
        h2.mt0 installation
        code $ apm install kak-mode
    each section in sections
      .bt.pv4
        .mw7.center
          h2.mt0= section.name
          table(cellspacing='0').w-100
            thead
              tr.tl
                each colName, index in ['key', 'description', ...section.auxCols]
                  th(class=(index === 0 ? 'tr pr4' : 'tl')).pv2= colName
            tbody
              each command in section.commands
                tr
                  td.bt.tr.ph4
                    if command.name.length > 3
                      h2.code.mv1.ml2= command.name
                    else 
                      h1.code.mv1.ml2= command.name
                  td.pr2.bt
                    span.dib.mr1= command.description
                  td.pr2.bt= command.shift
                  td.pr2.bt
                    code= command.config
